body {
}
ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
.title {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0d0b0a;
  margin-top: 48px;
}

.title-text {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: 24px;
}
.btn-joy {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  background: #c2d9fc;
  margin-bottom: 16px;
}

.btn-more {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  background: rgba(13, 11, 10, 0.05);
  margin-bottom: 48px;
}

/*=============yoga-classes=========*/

.yoga-classes-title-wrap {
  text-align: center;
  color: #0d0b0a;
}
.yoga-classes-title {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.yoga-classes-head {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.yoga-classes-text {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
